/*
 *  File :    _layout/header.less
 *  Info :    Layout for header element.
 *  Usage :   @import "_layout/header.less";
 *
 */


#header {
	padding: 60px;
	text-align: center;

	.ident {
		width: 300px;
		height: 300px;
	}

	.email {
		margin-top: 20px;
	}

	* {
		display: inline-block;
	}
}