/*
 *  File :    _layout/menu.less
 *  Info :    Layout for navigation element.
 *  Usage :   @import "_layout/menu.less";
 *
 */


#menu {
	-ms-transform: translate(-100%, 0);
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-transition: .5s ease-out;
	transition: .5s ease-out;
	height: 100%;
	position: absolute;
	width: 70%;
	z-index: 100;

	.min-width(@small, {
		display: none;
	});

	.menu-button {
		-webkit-transition: background-color 250ms ease-out;
		transition: background-color 250ms ease-out;
		cursor: pointer;
		display: block;
		height: 40px;
		left: 100%;
		position: absolute;
		top: 0;
		width: 50px;

		span,
		span:before,
		span:after {
			-webkit-transition: transform 500ms ease-out, background-color 500ms ease-out, top 500ms ease-out;
			transition: transform 500ms ease-out, background-color 500ms ease-out, top 500ms ease-out;
			background-color: @colour-dark;
			border-radius: 1px;
			content: '';
			cursor: pointer;
			display: block;
			height: 3px;
			left: 15px;
			pointer-events: none;
			position: absolute;
			width: 20px;
		}

		span {
			top: 26px;
		}
		span:before {
		  top: -6px;
		  left: 0;
		}
		span:after {
		  top: 6px;
		  left: 0;
		}

		&:hover {

			span,
			span:before,
			span:after {}
		}
	}

	&.expand {
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);

		.menu-button {

			span {
			  background-color: transparent;

				&:before,
				&:after {
				  top: 0;
				}
				&:before {

					-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
					transform: rotate(45deg);
				}
				&:after {
					-webkit-transform: rotate(-45deg);
					-ms-transform: rotate(-45deg);
					transform: rotate(-45deg);
				}
			}
		}
	}

	.inner {

		li {
			display: inline-block;
		}

		.nav {

			li {
				margin: 0 0 0 15px;
			}
		}	
	}
}