/*
 *  File :    _theme/font-size.less
 *  Info :    Define font sizes for this theme.
 *  Usage :   @import "_theme/font-size.less";
 *
 */


.theme {
	.font-size(1.2);
	.line-height(1.6);
	font-family: 'Cantarell', sans-serif;
	font-weight: 100;

	h2 {
		.font-size(1.6);
		.line-height(2.0);
		font-weight: 100;
	}

	a {
		text-decoration: none;
	}
}